body {margin:0; padding:0;}
#dolpan_toolbar {width:100%; height:26px; border:solid 1px #d6d6d6;}
#dolpan_editor {width:100%; border:solid 1px #d6d6d6;}
#dolpan_frame {width:100%;}

#dolpan_toolbar ul {margin:0; padding:0;}
#dolpan_toolbar li {width:22px; height:22px; margin:0; padding:0; list-style-type: none; float:left; margin:2px;}
#dolpan_toolbar li a {display: block; width:100%; height:60%; margin: auto; text-decoration: none; text-align: center; padding:20% 0;}
#dolpan_toolbar li a:hover, #dolpan_toolbar li a.selected {border:solid 1px silver;}
#dolpan_tab {}
#dolpan_tab ul {list-style: none; margin:0; padding:0; float:right; margin-right: 10px; margin-top:20px;}
#dolpan_tab li {list-style: none; margin:0; padding:0; width:40px; float:left; font-size:8pt; text-align: center;}

#dolpan_htmlsrc {display: none; width:100%; height:100%;}

#dolpan_toolbar_set1 li {width:24px; height:24px;}
#dolpan_toolbar_set1 li.fontselect {width:94px;}
#dolpan_toolbar_set1 li.fontselect select {width:70px; overflow: hidden;}
#dolpan_toolbar_set1 li a {display: block; width:22px; height:22px; text-indent: -9999px; margin:0; padding:0; float: left; background-image:url(../lib/img/toolbar.gif); border:solid 1px white;}

#dolpan_toolbar_set1 .bold a{background-position: 0px 0px;}
#dolpan_toolbar_set1 .table a {background-position: -22px 0px;}
#dolpan_toolbar_set1 .font a{background-position: -44px 0px;}
#dolpan_toolbar_set1 .image a{background-position: -66px 0px;}
#dolpan_toolbar_set1 .sub a{background-position: -88px 0px;}
#dolpan_toolbar_set1 .super a{background-position: -110px 0px;}
#dolpan_toolbar_set1 .italic a{background-position: -132px 0px;}
#dolpan_toolbar_set1 .unordered a{background-position: -154px 0px;}
#dolpan_toolbar_set1 .strikethrough a{background-position: -176px 0px;}
#dolpan_toolbar_set1 .clear_style a{background-position: -198px 0px;}
#dolpan_toolbar_set1 .style a{background-position: -220px 0px;}
#dolpan_toolbar_set1 .ordered a{background-position: -242px 0px;}
#dolpan_toolbar_set1 .template a{background-position: -264px 0px;}
#dolpan_toolbar_set1 .show_guide a{background-position: -286px 0px;}
#dolpan_toolbar_set1 .font_size a{background-position: -308px 0px;}
#dolpan_toolbar_set1 .new a{background-position: -330px 0px;}
#dolpan_toolbar_set1 .object a{background-position: -352px 0px;}
#dolpan_toolbar_set1 .underline a{background-position: -374px 0px;}
#dolpan_toolbar_set1 .anchor a{background-position: -396px 0px;}
#dolpan_toolbar_set1 .symbol a{background-position: -418px 0px;}